<!DOCTYPE html>
<html lang="en">
<head>
    <title>动漫周边产品交易系统</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/assets/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="/static/assets/css/fullcalendar.css" />
    <link rel="stylesheet" href="/static/assets/css/matrix-style.css" />
    <link rel="stylesheet" href="/static/assets/css/matrix-media.css" />
    <link href="/static/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/assets/css/jquery.gritter.css" />
    <link rel="stylesheet" href="/static/assets/css/select2.css" />
    <style>
        body {
            font-family: '微软雅黑';
        }
    </style>
    <script data-main="/static/main" src="/static/bower_components/requirejs/require.js"></script>
    <script type="text/javascript">
        // This function is called from the pop-up menus to transfer to
        // a different page. Ignore if the value returned is a null string:
        function goPage (newURL) {

            // if url is empty, skip the menu dividers and reset the menu selection to default
            if (newURL != "") {

                // if url is "-", it is this page -- reset the menu:
                if (newURL == "-" ) {
                    resetMenu();
                }
                // else, send page to designated URL
                else {
                    document.location.href = newURL;
                }
            }
        }

        // resets the menu selection upon entry to this page:
        function resetMenu() {
            document.gomenu.selector.selectedIndex = 2;
        }
    </script>
</head>
<body>

    #parse("layout/header.vm")
    #parse("layout/lefter.vm")


<!--main-container-part-->
    $screen_content
<!--end-main-container-part-->
    #parse("layout/footer.vm")
</body>
</html>
