<!--sidebar-menu-->
<div id="sidebar">
    <ul>
        <li class="submenu #if($firstMenu == 0)active open#end"> <a href="#"><i class="icon icon-th-list"></i> <span>首页</span></a>
            <ul>
                <li><a href="/user/index">首页</a></li>
            </ul>
        </li>
        #if ($!isRoot)
        <li class="submenu #if($firstMenu == 1)active open#end"> <a href="#"><i class="icon icon-th-list"></i> <span>用户管理</span></a>
            <ul>
                <li class="#if($secondMenu == 1)active open#end"><a href="/user/list">用户信息</a></li>
            </ul>
        </li>
        #end
        <li class="submenu #if($firstMenu == 2)active open#end"> <a href="#"><i class="icon icon-th-list"></i> <span>动漫周边商品管理</span></a>
            <ul>
                <li class="#if($secondMenu == 1)active open#end"><a href="/sku/list">商品列表</a></li>
                #if ($!isRoot)
                    <li class="#if($secondMenu == 3)active open#end"><a href="/order/list">订单管理</a></li>
                #else
                    <li class="#if($secondMenu == 2)active open#end"><a href="/collect/list">我的收藏</a></li>
                    <li class="#if($secondMenu == 3)active open#end"><a href="/order/list">我的订单</a></li>
                #end
            </ul>
        </li>
    </ul>
</div>
<!--sidebar-menu-->