#set($firstMenu=2)
<div id="content">
    <!--breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb">
            <a href="/index/" title="首页" class="tip-bottom"><i class="icon-home"></i>首页</a>
            <a href="/statistics/list" title="问卷统计分析" class="tip-bottom"><i class="icon-home"></i>问卷统计分析</a>
        </div>
        <form action="" class="form-horizontal">
            <div class="form-actions">
                <a href="/statistics/export/$!paperId" target="_blank" class="btn btn-success">导出统计文件</a>
            </div>
        </form>

    </div>
    <!--End-breadcrumbs-->

    <!--Action boxes-->
    <div class="container-fluid">
        <input type="hidden" value="$!paperId" id="paperId">
        <div class="widget-box">
            <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
                <h5>参与用户</h5>
            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered data-table">
                    <thead>
                    <tr>
                        <th>ip</th>
                        <th>email</th>
                        <th>提交时间</th>
                    </tr>
                    </thead>
                    <tbody id="questionTbody">
                        #foreach($!us in $!userStatistics)
                        <tr>
                            <td>$!us.ip</td>
                            <td>$!us.email</td>
                            <td>$!dateTool.format('yyyy-MM-dd HH:mm:ss',$!us.insertTime)</td>
                        </tr>
                        #end
                    </tbody>
                </table>
            </div>
        </div>

        <div class="widget-box">
            <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
                <h5>答案统计</h5>
            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>试题id</th>
                        <th>试题题干</th>
                        <th>试题统计详情</th>
                    </tr>
                    </thead>
                    <tbody id="questionStatisticsContainer">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    require(['scripts/common/dataTable', 'scripts/statistics/statistics'], function () {
    });
</script>