<div id="content">
    <!--breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb"> <a href="/index/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a></div>

    </div>
    <!--End-breadcrumbs-->

    <!--Action boxes-->
    <div class="container-fluid">
        欢迎使用
    </div>
</div>