#set($firstMenu=2)
#set($secondMenu=3)
<div id="content">
    <!--breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb">
            <a href="/user/index/" title="首页" class="tip-bottom"><i class="icon-home"></i>首页</a>
            <a href="/order/list" title="订单管理" class="tip-bottom"><i class="icon-home"></i>订单管理</a>
        </div>
    </div>
    <!--End-breadcrumbs-->

    <!--Action boxes-->
    <div class="container-fluid">
        <div class="widget-box">
            <div class="widget-title"><span class="icon"><i class="icon-th"></i></span>
                <h5>管理员订单管理页面</h5>
            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered data-table">
                    <thead>
                    <tr>
                        <th>订单ID</th>
                        <th>用户ID</th>
                        <th>SkuID</th>
                        <th>Sku名称</th>
                        <th>配送位置</th>
                        <th>下单时间</th>
                    </tr>
                    </thead>
                    <tbody id="orderTable">
                        #foreach($!vo in $!list)
                        <tr>
                            <td>$!vo.id</td>
                            <td>
                                $!vo.userId
                            </td>
                             <td>
                                $!vo.skuId
                            </td>
                            <td>
                                $!vo.skuName
                            </td>
                            <td>
                                $!vo.position
                            </td>
                            <td>$!dateTool.format('yyyy-MM-dd HH:mm:ss',$!vo.ctime)</td>
                        </tr>
                        #end
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    require(['scripts/common/dataTable'], function () {
    });
</script>