#set($firstMenu=2)
<div id="content">
    <!--breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb">
            <a href="/index/" title="首页" class="tip-bottom"><i class="icon-home"></i>首页</a>
            <a href="/statistics/list" title="问卷统计分析" class="tip-bottom"><i class="icon-home"></i>问卷统计分析</a>
        </div>
    </div>
    <!--End-breadcrumbs-->

    <!--Action boxes-->
    <div class="container-fluid">
        <div class="widget-box">
            <div class="widget-title"><span class="icon"><i class="icon-th"></i></span>
                <h5>管理员Sku管理页面</h5>
            </div>
            <div>
                <a type="button" class="btn btn-primary" href="/sku/tosave">
                  录入sku
                </a>
            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered data-table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>产品名称</th>
                        <th>展示图</th>
                        <th>产品介绍</th>
                        <th>产品价格</th>
                        <th>库存</th>
                        <th>状态</th>
                        <th>产品录入时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id="skuTable">
                        #foreach($!vo in $!list)
                        <tr>
                            <td>$!vo.id</td>
                            <td>
                                $!vo.name
                            </td>
                            <td>
                                $!vo.picUrl
                            </td>
                            <td>$!vo.description</td>
                            <td>$!vo.price</td>
                            <td>$!vo.num</td>
                            <td>
                                #if ($!vo.status == 1)
                                    <span style="color:green">上架</span>
                                #else
                                    <span style="color:red">下架</span>
                                #end
                            <td>$!dateTool.format('yyyy-MM-dd HH:mm:ss',$!vo.ctime)</td>
                            <td>
                                <button type="button" class="btn btn-success" data-id="$!vo.id">
                                   上架
                                </button>
                                <button type="button" class="btn btn-danger" data-id="$!vo.id">
                                   下架
                                </button>
                            </td>
                        </tr>
                        #end
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- 上架弹窗 -->
<div class="modal fade" id="skuUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">商品操作</h4>
      </div>
      <div class="modal-body">
         是否上架
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button id="skuUpBtn" type="button" class="btn btn-primary" data-id="-1">确认上架</button>
      </div>
    </div>
  </div>
</div>

<!-- 下架弹窗 -->
<div class="modal fade" id="skuDown" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">商品操作</h4>
      </div>
      <div class="modal-body">
         是否下架
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button id="skuDownBtn" type="button" class="btn btn-primary" data-id="-1">确认下架</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    require(['scripts/common/dataTable','scripts/rootsku'], function () {
    });
</script>