#set($firstMenu=1)
#set($secondMenu=1)
<div id="content">
    <!--breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb">
            <a href="/user/index/" title="首页" class="tip-bottom"><i class="icon-home"></i>首页</a>
            <a href="/statistics/list" title="用户管理" class="tip-bottom"><i class="icon-home"></i>用户信息</a>
        </div>
    </div>
    <!--End-breadcrumbs-->

    <!--Action boxes-->
    <div class="container-fluid">
        <div class="widget-box">
            <div class="widget-title"><span class="icon"><i class="icon-th"></i></span>
                <h5>用户信息</h5>
            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered data-table">
                    <thead>
                    <tr>
                        <th>用户ID</th>
                        <th>性别</th>
                        <th>email</th>
                        <th>角色</th>
                        <th>注册时间</th>
                    </tr>
                    </thead>
                    <tbody id="userTable">
                        #foreach($!vo in $!list)
                        <tr>
                            <td>$!vo.id</td>
                            <td>
                                #if ($!vo.sex == 0)
                                    男
                                #else
                                    女
                                #end
                            </td>
                            <td>
                                $!vo.email
                            </td>
                            <td>
                                #if ($!vo.type == 0)
                                    <span style="color:green">用户</span>
                                #else
                                    <span style="color:red">管理员</span>
                                #end
                            </td>
                            <td>$!dateTool.format('yyyy-MM-dd HH:mm:ss',$!vo.ctime)</td>
                        </tr>
                        #end
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    require(['scripts/common/dataTable'], function () {
    });
</script>